<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppies!</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="container-fluid">
  <h1 class="text-center">SO MANY PUPPIEZ</h1>
  <table class="table table-bordered table-striped table-hover text-center">
    <thead>
      <th class="text-center">Puppy Name</th>
      <th class="text-center">Puppy Age</th>
    </thead>
    <tbody>
      <% puppies.forEach(function(puppy) { %>
        <tr>
          <td><a href="/puppies/<%= puppy.id %>"><%= puppy.name %></a></td>
          <td><%= puppy.age %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <a href = "/puppies/new" class="btn btn-primary pull-right">
    Add a puppy!
  </a>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>