<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add a Puppy!</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="container-fluid">
  <h1 class="text-center">Tell us about your puppy.</h1>
  
  <form action="/puppies" method="POST">
    
  </form>

  <a href = "/" class="btn btn-warning pull-right">
    Never mind, go back
  </a>
  <a href = "/puppies/new" class="btn btn-primary pull-right">
    Add this puppy!
  </a>

</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>