<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Puppies!</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body class="container-fluid text-center">
  <h1>Contact Me</h1>
  <h2>Actually, please don't contact me. I'm hanging out with my pups.</h2>
 <iframe src="//giphy.com/embed/4DBiNfyQMAT3a" width="480" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
  <a href="/" id="return" class="btn btn-default">Return to puppy list</a>
</body>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>